@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
.App {
    position: absolute;
    top: 30;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.headspace {
    position: absolute;
    top: 30%;
}

.name {
    color: white;
    margin: 0% 0% 0% 0.1%;
    padding-top: 30%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14vw;
    letter-spacing: 0.151em;
    /* position: absolute;
  top: 30%; */
}

.subtitle {
    color: #A698C5;
    margin: 0% 0% 0% 1%;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    letter-spacing: 0.151em;
    /* position: absolute;
  top: 60%; */
}

.link {
    color: white;
    margin: 0% 0% 0% 1%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    letter-spacing: 0.151em;
    text-transform: lowercase;
}

.small-spacer {
    height: 10vh;
}

.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: #121212;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}